# Logs
logs
*.log
*.swp
npm-debug.log*

# Dependency directories
node_modules/

# Tools and build results
.idea
build/
dist/
gen/


# Terraform
**/.terraform
**/*.tfstate.backup
**/.terraform.tfstate.lock.info

# Azure
local.settings.json
